<mat-toolbar color="primary" class="app-header">
  <span class="app-title">Portfolio Manager</span>
  <span class="spacer"></span>
  <button mat-raised-button color="accent" (click)="openPortfolioForm()" class="add-button">
    <mat-icon>add</mat-icon> Add Project
  </button>
</mat-toolbar>

<div class="container">
  <app-portfolio-list
    (editItem)="handleEditItem($event)"
    (deleteItem)="handleDeleteItem($event)"
    (viewItem)="handleViewItem($event)">
  </app-portfolio-list>
</div>

<!-- Form Modal -->
<app-portfolio-form
  *ngIf="showPortfolioForm"
  [itemToEdit]="currentEditItem"
  (close)="handleCloseModal()"
  (save)="handleSavePortfolio($event)">
</app-portfolio-form>

<!-- Detail Modal -->
<app-portfolio-detail
  *ngIf="showPortfolioDetail"
  [portfolioId]="currentViewItemId"
  (close)="handleCloseDetailModal()">
</app-portfolio-detail>
